*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Segoe UI;
overflow:hidden;
background:#020617;
}

.world{
height:200vh;
transition:transform 2s ease;
}

/* ESCENA PASTEL */

#cakeSection{
height:100vh;
background:linear-gradient(#ffd6e0,#fff0f5);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hidden{
display:none;
}

button{
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:#ff6b81;
color:white;
cursor:pointer;
}

/* PASTEL */

.cake{
position:relative;
width:240px;
height:180px;
margin-top:40px;
margin-left:auto;
margin-right:auto;
}

.plate{
position:absolute;
bottom:-15px;
width:240px;
height:20px;
background:#eee;
border-radius:50%;
left:50%;
transform:translateX(-50%);
}

.layer{
position:absolute;
left:50%;
transform:translateX(-50%);
border-radius:12px;
}

.layer-bottom{
width:200px;
height:60px;
background:#ff8fab;
bottom:0;
}

.layer-middle{
width:180px;
height:55px;
background:#ffc2d1;
bottom:45px;
}

.layer-top{
width:160px;
height:50px;
background:#ffe5ec;
bottom:90px;
}

.candles{
position:absolute;
bottom:135px;
left:50%;
transform:translateX(-50%);
width:120px;
display:flex;
justify-content:space-between;
}

.candle{
width:8px;
height:40px;
background:white;
border-radius:3px;
position:relative;
}

.flame{
position:absolute;
top:-16px;
left:50%;
transform:translateX(-50%);
width:10px;
height:16px;
background:radial-gradient(circle,#fff 10%,orange 60%,red 100%);
border-radius:50%;
box-shadow:0 0 20px orange;
animation:flicker .2s infinite alternate;
}

@keyframes flicker{
from{transform:translateX(-50%) scale(1)}
to{transform:translateX(-50%) scale(1.15)}
}

.smoke{
position:absolute;
width:8px;
height:8px;
background:rgba(200,200,200,0.7);
border-radius:50%;
animation:smokeRise 2s forwards;
}

@keyframes smokeRise{
0%{opacity:.8; transform:translateY(0)}
100%{opacity:0; transform:translateY(-60px) scale(2)}
}

/* ESCENA CIELO */

#skySection{
height:100vh;
background:#020617;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
color:white;
position:relative;
overflow:hidden;
}

canvas{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

#stars{
z-index:1;
}

#fireworks{
z-index:2;
}

#finalMessage{
position:relative;
z-index:5;
text-align:center;
}